version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: verigov
      POSTGRES_USER: verigov
      POSTGRES_PASSWORD: verigov
    ports:
      - "55432:5432"
    volumes:
      - verigov_db:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "56379:6379"

  api:
    build:
      context: ../../apps/api
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+psycopg://verigov:verigov@db:5432/verigov
      REDIS_URL: redis://redis:6379/0
      JWT_SECRET: dev-secret-change
      JWT_ACCESS_MINUTES: "15"
      JWT_REFRESH_DAYS: "7"
      CORS_ORIGINS: http://localhost:5174
      USE_MOCK_CONNECTORS: "false"
      AUTO_CREATE_TABLES: "true"
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318
      OTEL_RESOURCE_ATTRIBUTES: service.name=verigov-api
    ports:
      - "8001:8000"
    volumes:
      - ../../apps/api/app:/app/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db
      - redis

  web:
    build:
      context: ../../apps/web
    environment:
      VITE_API_URL: http://localhost:8001
    ports:
      - "5174:5173"
    depends_on:
      - api

  prometheus:
    image: prom/prometheus:latest
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - api

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus

  jaeger:
    image: jaegertracing/all-in-one:1.53
    ports:
      - "16686:16686"   # UI
      - "4317:4317"     # OTLP gRPC
      - "4318:4318"     # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true

volumes:
  verigov_db:
